@{
    ViewData["Title"] = "Receiver";
}
@model List<WebGrabDemo.Models.MovieInfo>

<div class="row">
    <div class="col-md-5">
        <h2>Receiver</h2>
        <ul>
           

        </ul>
    </div>
</div>
